<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Perfil</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://avatars.githubusercontent.com/u/66791075?s=460&u=575ad680195c5e9124fd466242dbafe156625fc9&v=4" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Me chamo Beatriz, tenho 26 anos, sou do Rio de Janeiro. Comecei a estudar programação em fevereiro de 2020, através da plataforma Digital Innovation One, logo em seguida fiz outros projetos,
        Tenho como objetivo de carreira me tornar uma programadora FRONT-END com oportunidades de fazer vários trabalhos junto com UX DESIGN, protótipos e pesquisas sobre a experiência do usuário.
      </p>
    </mat-card-content>
  </mat-card>
    












