<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>IBM</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/ibm.png" alt="IBM">
    <mat-card-content>
      <p>
        Participei da maratona Behind the Code da IBM em 2020, e com conhecimentos adquiridos resolvi fazer um projeto pessoal, um chatbox através da plataforma IBM, indicando algumas séries da Netflix
      </p>
    </mat-card-content>
    <mat-card-actions>

        <a href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=17986ac1-6c96-4fd7-9329-d55d3fc2e7ba&serviceInstanceID=b8a300e1-e3af-4e81-b1af-c232bd6d7d8f" target="_blank"><button mat-button>Projeto IBM</button></a>
      </mat-card-actions>
    
</mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Impactos do covid</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/nasa.png" alt="Nasa">
    <mat-card-content>
      <p>
        Participei de um projeto da SpaceAppsChallenge da Nasa, no qual falava sobre o impacto do covid no cotidiano
      </p>
    </mat-card-content>
    <mat-card-actions>

        <a href="https://covid19.spaceappschallenge.org/challenges/covid-challenges/art-it-all/teams/via-lactea/project" target="_blank"><button mat-button>Impactos do Covid</button></a>
      </mat-card-actions>
</mat-card>


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>História da Nasa</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/historia.png" alt="História da Nasa">
    <mat-card-content>
      <p>
        O projeto aborda questões relacionadas à história da NASA, tanto antiga quanto atual, explicando também sua importância para a humanidade, exclusivamente com suas respostas no Covid-19
      </p>
    </mat-card-content>
    <mat-card-actions>


        <a href="https://2020.spaceappschallenge.org/challenges/inform/mission-planet-earth-digital-history/teams/fight-for-us/project" target="_blank"><button mat-button>História da Nasa</button></a>
      
    </mat-card-actions>
  </mat-card>

